body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.iframe-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vw;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
}